.container {
  font-family: cursive;
}
#header {
  background-image: url("../mpft-ip/ip2/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#breakfast {
  background-image: url("../mpft-ip/ip2/assets/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 200px;
}
.breakfast {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.lunch {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.dinner {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
#lunch {
  background-image: url("../mpft-ip/ip2/assets/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#dinner {
  background-image: url("../mpft-ip/ip2/assets/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#minirow {
  text-align: center;
}
#partytime {
  background-color: #EF5050;
  color: #FFFFFF;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#happyhour {
  background-color: #FFFFFF;
  color: #000000;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section4 {
  background-color: url("../mpft-ip/ip2/assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
