.container {
  height: 100;
  width: 100;
}
#header {
  background-image: url("../mpft-ip/ip2/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#breakfast {
  background-image: url("../mpft-ip/ip2/assets/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 200px;
}
#lunch {
  background-image: url("../mpft-ip/ip2/assets/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#dinner {
  background-image: url("../mpft-ip/ip2/assets/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
#minirow {
  text-align: center;
}
#partytime {
  background-color: #EF5050;
  color: #FFFFFF;
}
#happyhour {
  background-color: #FFFFFF;
  color: #000000;
}
.fastfood-image {
  float: left;
}
.drinks-image {
  float: right;
}
