@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.container-fluid {
  height: 100%;
}
.jumbotron {
  background-image: url("../images/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  height: 636px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  border-radius: 0;
}
.logobig {
  height: 284px;
  width: 284px;
}
.logo-image {
  padding-top: 100px;
  padding-right: 300px;
  padding-bottom: 400px;
  padding-left: 300px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.h1-logo {
  padding-top: 45px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #FFFFFF;
  height: auto;
}
.meals {
  height: 200px;
}
#minirow:hover #partytime{
  background-color: #FFFFFF;
  color: #000000;
}
#minirow:hover #happyhour {
  background-color: #D97338;
  color: #FFFFFF;
}
.breakfast {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.lunch {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.dinner {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
#breakfast {
  background-image: url("../images/assets/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 210px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#lunch {
  background-image: url("../images/assets/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 210px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#dinner {
  background-image: url("../images/assets/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 210px;
  margin: 0 0 0 0;

  padding: 0 0 0 0;
}
#breakfast:hover {
  background-color: rgba(232, 201, 201, 0.3);
  color: #0C0C0C;
}
#lunch:hover {
  background-color: rgba(232, 201, 201, 0.3);
  color: #0C0C0C;
}
#dinner:hover {
  background-color: rgba(232, 201, 201. 0.3);
  color: #0C0C0C;
}
#minirow {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 210px;
}
#partytime {
  background-color: #D97338;
  color: #FFFFFF;
  text-align: center;
  height: 105px;
  padding: 30px 75px 30px 75px;
  margin: 0 0 0 0;
}
#happyhour {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  height: 105px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 0 0 0;
}
#happyhour:hover {
  background-color: #D97338;
  color: #FFFFFF;
}
#partytime:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.fast-foods {
  padding-top: 75px;
  height: 600px;
}
.drinks {
  padding-top: 25px;
  height: 600px;
}
#white-section2 {
  padding-top: 20px;
  height: 600px;
}
.section4 {
  background-image: url("../images/assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 599px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.gallery {
  height: 350px;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 65px;
  padding: 0 0 0 0;
  background-color: #fff;
  text-align: center;
  width: 90%;
}
.navigate{
  padding: 0 0 0 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  height: 50px;
  width: 100%;
}
.box1 {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0 0 0 0;
  border-right: solid 1px #828181;
}
.box2 {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0 0 0 0;
  border-left: solid 1px #828181;
  border-right: solid 1px #828181;
  border-bottom: solid 1px #828181;
  background-color: #B9B8B8;
}
.box3 {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-left: solid 1px #828181;
  border-right: solid 1px #828181;
  border-bottom: solid 1px #828181;
  background-color: #B9B8B8;
}
.box4 {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-left: solid 1px #828181;
  border-right: solid 1px #828181;
  border-bottom: solid 1px #828181;
  background-color: #B9B8B8;

}
.my-logos {
  text-align: center;
  background-color: #D97338;
  height: 400px;
  color: #FFFFFF;
}
.logo-white {
  padding-top: 5px;
}
#email {
  float: left;
  margin-left: 395px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 90px;
  padding-left: 30px;
  color: #FFFFFF;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
}
#subscribe {
  background-color: #D97338;
  color: #FFFFFF;
  float: right;
  margin-right: 395px;
  padding-right: 50px;
  padding-left: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
}
input {
    background-color: rgba(255, 255, 255, 0.25);
}
#customers {
  height: 200px;
}
.delivery {
  padding-top: 80px;
}
.about {
  height: 100px;
}
.subscribe {
  background-image: url("../images/assets/backgrounds/subscribe.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  height: 301px;
}
.food {
  height: 450px;
  width: 550px;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 100px;
}
.drink {
  height: 450px;
  width: 560px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
.fastfood-text {
  text-align: right;
  height: 450px;
  width: 500px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.drinks-text {
  text-align: left;
  height: 450px;
  width: 500px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 125px;
}
.gallery-button {
  background-color: #FFFFFF;
  border-width: 3px, 3px, 3px, 3px;
  border-color: #D97338;
  color: #D97338;
  width: 175px;
  padding-right: 40px;
}
.fa {
  height: 20px;
  width: 20px;
  color: #D97338;
}
.stuff {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
p.stuff {
  font-size: 14px;
  color: #D97338;
}
#right {
  height: 20px;
  width: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #5A2020;
}
#left {
  height: 20px;
  width: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #5A2020;
}
div {
  display: inline-block;
}
#img1 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 45px;
  margin-top: 0;
  margin-right: 70px;
  margin-bottom: 0;
  margin-left: 0;
}
#img3 {
  padding-top: 0;
  padding-right: 45px;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 70px;
}
.img1 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.img2 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.img3 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
#drink1 {
  padding-right: 0;
  padding-left: 25px;
  margin-right: 0;
  float: left;
  width: 50%;
}
#drink2 {
  padding-left: 0;
  margin-left: 0;
  float: right;
  width: 50%;
}
.drinks-image {
  width: 100%;
}
#customers {
  height: 350px;
  content-align: 70%;
}
.about {
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 175px;
  margin-right: 175px;
  width: 70%;
  content-align: center;
  box-shadow: 2px 2px 2px 2px #ECDEDE;
  text-align: center;
}
.customers {
  padding: 15px 20px 15px 20px;
}
.menu {
  padding: 15px 20px 15px 20px;
  border-left: 2px solid #ECDEDE;
}
.customers-h4, .menu-h4{
  color: #D97338;
}
.logo-footer {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.social {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 100px;
}
.p-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}
.social-images {
  padding-top: 40px;
  padding-bottom: 30px;
}
#facebook {
  padding-left: 20px;
  padding-right: 20px;
}
#pinterest {
  padding-left: 20px;
  padding-right: 20px;
}
#twitter {
  padding-left: 20px;
  padding-right: 20px;
}
.p-footer2 {
  padding-top: 40px;
  padding-bottom: 30px;
}
